@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
html {
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(218, 218, 218);
}
body {
  margin: 0;
  width: 100%;
  max-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}
/* ХЕДЕР */
.logo {
  width: 138px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
}
.main-header-nav {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.site-navigation {
  margin: 0;
  width: 310px;
  display: flex;
  justify-content:space-between;
  padding: 19px 0 25px 0;
  list-style-type: none;
}
.site-navigation a {
  text-decoration: none;
  color:inherit;
}
site-navigation-user {
  width: 240px;
  display: flex;
  justify-content:space-between;
  list-style-type: none;

}
.site-navigation-user-icon {
  margin-right: 23px;
  text-decoration: none;
}
.want {
  width: 160px;
  height: 37px;
  background: #756257;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  padding: 0;
}
/* ПЕРВАЯ СТРАНИЧКА */
.hero {
  background-image: url("/images/index-background.jpg");
  position: relative;
}
.hero-welcome {
  display: flex ;
  margin: 0 auto;
}

img.hero-welcome {}

img.hero-welcome {
    padding-top: 11px;
    padding-bottom: 42px;
}
.hero::before {
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(/images/decore.svg);
  content: "";
  position: absolute;
  bottom: 0;
}
/* Заголовок */
.title {
  text-align: center;
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;
}
.title h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding-bottom: 23px;
}
.title p {
  margin: 0;
  line-height: 36px;
  font-size: 22px;
}

/* основное содержание */
.advantages-list {
  margin: 0;
  padding: 0;
}
.advantages-description {
    list-style-type: none;
}
.advantages-description-block {
  display: flex;
}
.advantages-first-position {
  display: flex;
  list-style-type: none;
}
.advantages-description-title {
  width: 400px;
  text-align: center;
  background: #83B3D3;
  color: #fff;
  padding-top: 98px;
  padding-bottom: 77px;
  padding-left: 90px;
  padding-right: 90px;
}
.advantages-description-title p {
  width: 220px;
  margin: 0;
  margin-bottom: 25px;
}
.advantages-description-title h2 {
  margin: 0;
  width: 220px;
  line-height: 28px;
  margin-bottom: 25px;
}
.advantages-description-title :first-child {
  margin-top: 0;
}
.advantages-description-title :last-child {
  margin-bottom: 0;
}
.advantages-first-position {
  padding: 0;

}
.advantages-first-position-block {
  width: 400px;
  padding-top: 89px;
  padding-bottom: 79px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
}
.advantages-first-position-block h2 {
  margin-top: 25px;
}
.advantages-first-position-block :first-child {
  margin-top: 0;
}
.advantages-first-position-block :last-child {
  margin-bottom: 0;
}
.advantages-first-position-grey {
  background-color: #83B3D31F;
}
.advantages-description-block-change {
  flex-direction: row-reverse;
}
/* поиск */
.search {
  text-align: center;
  padding: 91px 312px;
}
.search h3 {
  line-height: 38px;
  margin-bottom: 45px;
}
.search p {
  width: 600px;
  font-size: 26px;
  margin: 70px 0;
}
.search button {
  width: 575px;
  height: 60px;
  background: #756257;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
}
.search :first-child {
  margin-top: 0;
}
.search :last-child {
  margin-top: 0;
}
/* Подписка на рассылку */
.mailing {
  text-align: center;
  background-image: url("/images/background.jpg");
  color: #fff;
  padding: 94px 200px;

}
.mailing h3 {
  margin: 45px 0;
}
.mailing p {
  margin: 26px 120px;
  font-size: 22px;
  line-height: 26px;
}
.malling-input {
  width: 600px;
  height: 60px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  border-radius: 10px 0 0 10px;
  border: 0;
}
.mailing-form {
  margin: 30px 0;
}
.mailing :first-child{
  margin-top: 0;
}
.mailing :last-child {
  margin-bottom: 0;
}
.sbscribe {
  width: 200px;
  height: 60px;
  background-color: #83B3D3;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  border-radius: 0 10px 10px 0;
  border: 0;
  margin-left: -5px;
}
/* ФУТЕР */

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px 40px 72px;

}
.main-footer :first-child {
}
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tel {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
.social-list-link {
  margin: 0;
}
